.about-opacity-bg {    
    background-color: rgb(245, 245, 250);   
}

@media (min-width: 768px) {
    .about-opacity-bg {
        background-color: rgba(245, 245, 250, 0);   
    }
}

.header-a {
    background-color: #FFFFFF;
}
.about-hover {
    color: #B3B3BA;
    :hover {
        color: #FFFFFF;
    }
}

.navbar-toggler-dark {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../images/burger_line_list_menu_nav_navigation_option_icon_123231.svg')
}

nav div .offcanvas-withe {
    background-color: #FFFFFF;
}