@import "_variables";
@import "./bootstrap/bootstrap.scss";
@import "header";
@import "typografy";
@import "main";
@import "footer";
@import "about-header";
@import "typografy-about";
@import "about-main";
@import "about-footer";


img {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
  }

  .btn-border {
    border: none;
  }

 